/* Footer Styles */

.footer-wrapper {
    height: 500px;
    background-color: #11122b;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer-wrapper>.footer-area {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

}

.footer-wrapper>.footer-area>.logo img {
    width: 216px;
    height: auto;
}

.footer-wrapper>.footer-area>.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper>.footer-area>.phone-hours {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 20px 40px;
}

.footer-wrapper>.footer-area>.phone-hours>.hours {
    color: #cea135;
}

.footer-wrapper>.footer-area>.social-media-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    font-size: 2em;
    color: #fff;
}

.footer-wrapper>.footer-area>.copyright {
    text-align: center;
    color: #fff;
    font-size: 0.8em;
}