/* Navigation Styles */

.nav-wrapper {
    background-color: #11122b;
    color: #fff;
    height: 190px;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left Navigation Column */

.nav-wrapper>.left-column {
    display: flex;
    align-items: center;
}

.nav-wrapper>.left-column>.phone-icon i {
    padding-right: 15px;
    font-size: 2em;
}

.nav-wrapper>.left-column>.phone-hours-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
}

.nav-wrapper>.left-column>.phone-hours-area>.hours {
    color: #cbcbcb;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* Center Navigation Column */

.nav-wrapper>.center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.nav-wrapper>.center-column>.logo img {
    width: 216px;
    height: auto;
}

.nav-wrapper>.center-column>.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Links */

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links>.link {
    width: 100px;
    text-align: center;
}

.nav-links>.link a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.nav-links>.link a:hover {
    color: #cea135;
    letter-spacing: 3px;

}

/* Right Navigation Column */

.nav-wrapper>.right-column {
    display: flex;
    align-items: center;
}

.nav-wrapper>.right-column>.map-icon i {
    padding-left: 15px;
    font-size: 2em;
}

.nav-wrapper>.right-column>.map-icon a {
    color: #fff;
    transition: 0.5s;
}

.nav-wrapper>.right-column>.map-icon a:hover {
    color: #cea135;
}

.nav-wrapper>.right-column>.address-area {
    text-align: right;
}

.nav-wrapper>.right-column>.address-area a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.nav-wrapper>.right-column>.address-area a:hover {
    color: #cea135;
}